@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  object-fit: contain;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.small-text {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.accent-main {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
}

.accent-catalog {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.subtitle {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.user-navigation-link {
  color: #000000;
}

.navigation-basket-amount {
  font-size: 14px;
  line-height: 17px;
}

.basket {
  background-color: #000000;
  color: #ffffff;
}

.basket-product-link {
  color: #ffffff;
}

.basket-button {
  background-color: #ffffff;
}

.header-catalog-link {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.slider-table-description {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.slider-table-title {
  font-weight: 400;
  font-size: 16px;
}

.catalog-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

.delivery-button {
  font-size: 20px;
  line-height: 23px;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.subscribe {
  background-color: #f0f0f0;
}

.subscribe-input-email {
  font: inherit;
  line-height: 30px;
  color: #444444;
  background-color: #f0f0f0;
}

.page-footer {
  color: #ffffff;
  background-color: #444444;
}

.footer-text {
  color: #ffffff;
}

.footer-navigation-link {
  color: #ffffff;
}

.footer-phone {
  color: #ffffff;
}

.input-message {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
}

.input-message-error {
  color: #ff3d3d;
}

.catalog-container {
  background-color: #f0f0f0;
}

.sorting-select {
  font: inherit;
  line-height: 30px;
  color: #000000;
}

.products {
  background-color: #ffffff;
}

.product-new {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
}

.product-price {
  line-height: 21px;
}

.pagination {
  background-color: #ebebeb;
}

.pagination-disabled {
  color: #444444;
  opacity: 0.3;
}

.pagination-link {
  color: #444444;
  opacity: 0.3;
}

.pagination-link-current {
  opacity: 0.6;
}
